* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  

/*styling af header/overskrift-sektion*/
.titel {
    padding: 1px;
    text-align: center;
    background-color: #FFF2CC;
    position:fixed;
  color: #942f35;
  text-decoration: none;
  font-size: 30px;
  bottom: 700px;
  padding: 30px;
  width: 100%;

}

/*styling af links*/
a{
    text-decoration: none;
    color: #942f35;
}


/*positionering af logo*/
.logoheader {
    height: auto; 
    width: 7%;
    position: fixed;
    left: 70px;
    top: 20px;
    
}



body {
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color:#f8f2e1 ;
}

/*styling af menubar*/
.navbar {
    position: fixed;
    top: 120px;
    left:0;
    right:0;
    background: #5a674b;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 10px 7%;
    display: flex;
    justify-content: center;
    z-index: 100;
    align-items:center

}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #000000;
}

header .navbar ul {
    list-style: none;
    text-align: center;
}

header .navbar ul li {
    position: relative;
    float: left;
    width: 252px;
    

    
}


header .navbar ul li a {
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    color: #ffffff;
    display: block;
}

header .navbar ul li a:hover {
    background: #7e8a6f;
    color: #ffffff;
    left: auto;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 252px;
    background: #9aaf81;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 0.5px solid
}


header .navbar ul li ul li ul {
    left: 250px;
    top:0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){


    header {
        padding: 20px;
    }
    
    header label {
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background: #fff;
        border-top: 1px solid rgba(255, 0, 0, 0.1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #eee;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left:0;
    }

    #menu-bar:checked ~ .navbar {
        display: block;
    }

}


.maincontainer {
    display: flex;
    justify-content: space-between; /* Sørger for mellemrum mellem de to flex-containere */
    gap: 200px; /* Plads mellem containerne */
    width: 100%;
}

/* Flex-container 1 */
.flexcontainer1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 45%; /* Justerer bredden af containeren */
}

/* Flex-container 2 */
.flexcontainer2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%; /* Justerer bredden af containeren */
    text-align: left;
}



.overskrift1 {
    position:fixed;
    top: 200px; /* Placerer teksten 20px fra toppen */
    left: 20px; /* Placerer teksten 20px fra venstre */
    color: #942f35; /* Tekstfarve */
    font-size: 30px;
}

.overskrift2{
    position:fixed;
    top: 280px; /* Placerer teksten 20px fra toppen */
    left: 20px; /* Placerer teksten 20px fra venstre */
    color: #292c78; /* Tekstfarve */
    font-size: x-large;

}

.tekst1{
    position:fixed;
    font-family: "Poppins", sans-serif;
    top: 310px; /* Placerer teksten 20px fra toppen */
    left: 20px; /* Placerer teksten 20px fra venstre */
    color: #292c78; /* Tekstfarve */
    font-size: 17px; 
    max-width: 45%; /*Bestemmer hvor langt ud teksten må gå */
}


.overskrift3 {
    position:fixed;
    top: 432px; 
    left: 20px; 
    color: #292c78; /* Tekstfarve */
    font-size: x-large;
}

.tekst2{
    position:fixed;
    font-family: "Poppins", sans-serif;
    top: 410px; 
    left: 20px; 
    color: #292c78; /* Tekstfarve */
    font-size: 17px; 
}

.tekst3{
    position:fixed;
    font-family: "Poppins", sans-serif;
    top: 460px; 
    left: 20px; 
    color: #292c78; /* Tekstfarve */
    font-size: 17px; 
    max-width: 45%;
}

/*positionering af billedet til venstre*/
.billedevenstre{
    position: fixed;
    scale: 16%;
    max-width: 10%;
    top: 15px;
    left: 20px;
    bottom: -400px;

}


/*positionering af billedet til højre*/
.billedehøjre{
    position: fixed;
    scale: 65%;
    max-width: 10%;
    top: 130px;
    left: 55%;
}


.overskrift4 {
    position:fixed;
    top: 530px; /* Placerer teksten 20px fra toppen */
    left: 47%; /* Placerer teksten 20px fra venstre */
    color: #292c78; /* Tekstfarve */
    font-size: x-large;
}

.tekst4{
    position:fixed;
    font-family: "Poppins", sans-serif;
    top: 560px; /* Placerer teksten 20px fra toppen */
    left: 47%; /* Placerer teksten 20px fra venstre */
    color: #292c78; /* Tekstfarve */
    font-size: 17px; 
    max-width: 55%; /*Bestemmer hvor langt ud teksten må gå */
}

.overskrift5{
    position:fixed;
    top: 680px; /* Placerer teksten 20px fra toppen */
    left: 47%; /* Placerer teksten 20px fra venstre */
    color: #942f35; /* Tekstfarve */
    font-size: 30px

}

.tekst5{
    position:fixed;
    font-family: "Poppins", sans-serif;
    top: 715px; /* Placerer teksten 20px fra toppen */
    left: 47%; /* Placerer teksten 20px fra venstre */
    color: #292c78; /* Tekstfarve */
    font-size: 17px; 
    max-width: 50%; /*Bestemmer hvor langt ud teksten må gå */
}


